<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Postile/OpenMapTiles example DEBUG mode</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        #checkboxes {
            position: absolute;
            background: #fff;
            top:0;
            left:0;
            padding:10px;
        }
    </style>
</head>
<body>

<div id='map'></div>
<div id='checkboxes'>
    <label><input id='show-tile-boundaries-checkbox' type='checkbox'> tile debug</label><br />
    <label><input id='show-symbol-collision-boxes-checkbox' type='checkbox'> collision debug</label><br />
</div>
<script>
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: '{{scheme}}://{{host}}/style.json', // stylesheet location
});
document.getElementById('show-tile-boundaries-checkbox').onclick = function() {
    map.showTileBoundaries = !!this.checked;
};
document.getElementById('show-symbol-collision-boxes-checkbox').onclick = function() {
    map.showCollisionBoxes = !!this.checked;
};
map.addControl(new mapboxgl.AttributionControl({compact: true,}));
map.addControl(new mapboxgl.NavigationControl());
map.addControl(new mapboxgl.ScaleControl());
map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
}));
</script>
